language: node_js
node_js:
  - '8'
dist: trusty
sudo: false

branches:
  only:
    - master

cache:
  directories:
    - node_modules

addons:
  chrome: stable

script:
  - npm run lint
  - npm run build-lib
  - npm run test-headless
